@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body, input, button, select, textarea, table {
	font-family:'Nanum Gothic','맑은 고딕','malgun gothic','돋움',dotum,sans-serif; 
	font-size:14px;
}
/*body에 최소가로길이 입력하여 100퍼에 색이나 선이 짤리지않도록해줌*/

/*공통 CSS*/
body {
	margin : 40px auto;
	min-width: 1080px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0;
}
input[type="file"] {
	width: 80%;
	border: none;
	background: none;
	padding-left: 15px;
}
.btn_primary {
	margin-left: 10px;
	height: 30px;
	border: none;
	background-color: #ccc;
	color: white;
	cursor: pointer;
}
.form_control {
	width: 95%;
	height: 100%;
	border: none;
	padding-left: 5%;
}


/*header*/
.header {
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.header_inner {	
	position: relative;
	margin: 0 auto 10px auto;
	width: 1080px;
	height: 80px;
}
.header_logo {
	width: 300px;
	height: 80px;
	float: left;
}
.header_logo img {
	height: 80px;
}
.header_title {
	float: right;
	text-align: right;
}
.header_title h1 {
	margin: 0;
}
/*.header form {
	position: absolute;
	right: 0%;
	bottom: 0%;
}*/
.header_btn {
	position: absolute;
	right: 0%;
	width: 500px;
	bottom: 0%;
}
.header_btn .btn {
	float: right;
}




/*index*/
iframe {
	height: 1000px;
}
.floorplan .pdf {
	width: 100%;
	height: 100%;
}


/*product_code*/
.main {
	margin: 0 auto;
	width: 1080px;
	overflow: hidden;
}
.left_container {
	width: 350px;
	height: 350px;
	float: left;
	margin: 0;
	position: relative;
}
.left_container .image_box {
	background: url(../images/image_box.png) no-repeat;
	position: absolute;
}
.left_container .image_box a {
	width: 330px;
	height: 330px;
	display: block;
	margin: 10px;
}
.left_container .image_box img {
	width: 290px;
	height: 290px;
	margin: 20px;
}
.right_container {
	width: 700px;
	float: right;
	margin-top: -16px;
}
.right_container h2 {
	text-indent: -9999px;
}
.product_table {
	border-collapse: collapse;
	width: 100%;
	border-top: 2px solid #e4e7f0;
}
.product_table td {
	border-bottom: 2px solid #e4e7f0;
	height: 30px;
}
.product_table th {
	width: 30%;
	text-align: right;
	background-color: #f6f9ff;
	border-bottom: 2px solid #e4e7f0;
}
/*asset_regedit*/ 
.edit {
	width: 1080px;
	margin: 40px auto 0 auto;
	overflow: hidden;
}
.edit_table {
	border-collapse: collapse;
	width: 100%;
	border-top: 2px solid #e4e7f0;
	font-size: 0.9em;
}
/*
.edit .edit_table tr:nth-child(2) {
	display: none;
}
*/
.edit .edit_table th {
	border-bottom: 2px solid #e4e7f0;
	border-right: 2px dotted #e4e7f0;
	height: 30px;
}
.edit .edit_table th:first-child {
	border-left: 2px dotted #e4e7f0;
}
.edit .edit_table td {
	border-bottom: 2px solid #e4e7f0;
	border-right: 2px dotted #e4e7f0;
	height: 30px;
	text-align: center;
}
.edit .edit_table td:first-child {
	border-left: 2px dotted #e4e7f0;
}
.edit .edit_table_row img {
	width: 50px;
}
.edit_btn {
	text-align: right;
	padding-top: 5px;
}
.edit_form {
	width: 1080px;
	margin: 20px auto 20px auto;
}
.edit_form_left {
	width: 520px;
	float: left;
}
.edit_form_right {
	width: 520px;
	float: right;
}
.edit_form_table {
	border-collapse: collapse;
	width: 100%;
	border-top: 2px solid #e4e7f0;
}
.edit_form_table td {
	border-bottom: 2px solid #e4e7f0;
	height: 30px;
}
.edit_form_table th {
	width: 30%;
	text-align: right;
	background-color: #f6f9ff;
	border-bottom: 2px solid #e4e7f0;
}
.edit_form .btn_primary {
	float: right;
	margin-top: 5px;
}
/*asset_search*/
.search_inner {
	margin: 40px auto 0 auto;
	overflow: hidden;
}
.src_btn .btn {
	float: right;
}
.src_btn label {
	border-left: 3px solid #ccc;
	padding-left: 3px;

}
.src_form_control {
	width: 15%;
	height: 20px;
	background-color: none;
	margin-right: 1%;
	border: 1px solid #bdbdbd;
}

/*footer*/
.footer {
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}
.footer_inner {
	width: 1080px;
	margin: 20px auto;
	text-align: right;
}
.footer .comp_info p {
	font-weight: bold;
}